<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<!-- Access token -->
	<add key="AccessToken" value="NULL" />
	<!-- Server connection info -->
	<add key="Server_IP" value="127.0.0.1" />
	<add key="Server_PORT" value="65535" />
	<!-- Application settings -->
    <add key="Theme" value="LightTheme" />
    <add key="Language" value="Lang-pl" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>