<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hangfire.Core" version="1.7.31" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="Simple.Wpf.Themes" version="2.3.15" targetFramework="net48" />
  <package id="System.Linq" version="4.3.0" targetFramework="net48" />
</packages>